
<footer>
  <div class="row column">
    <hr>
    <div class="row">
      <div class="medium-6 column">
        <ul class="menu">
          <li>My Industry</li>
          <li><a href="#">Home</a></li>
          <li><a href="#">About</a></li>
          <li><a href="#">Contact</a></li>
        </ul>
      </div>
      <div class="medium-6 column">
        <ul class="menu align-right">
          <li>Copyright 2016</li>
        </ul>
      </div>
    </div>
  </div>
</footer>

</body>
</html>
