
<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <% if(locals.title) { %>
    <title><%- title %></title>
  <% } else { %>
    <title>Box Skeleton App</title>
  <% } %>
  <link rel="stylesheet" href="/css/box.css">
  <link rel="stylesheet" href="https://cdn01.boxcdn.net/platform/preview/0.93.0/en-US/preview.css">
  <script src="https://cdn01.boxcdn.net/platform/preview/0.93.0/en-US/preview.js"></script>
  <!-- <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet"> -->
  <link rel="stylesheet" href="http://dhbhdrzi4tiry.cloudfront.net/cdn/sites/foundation.min.css">
  <script src="https://cdn.auth0.com/js/lock/10.5/lock.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
  <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>
<body>

  <!-- Start Top Bar -->
  <div class="top-bar">
    <div class="top-bar-left">
      <ul class="menu">
        <li class="menu-text">Industry Portal</li>
      </ul>
    </div>
    <div class="top-bar-right">
      <% if(locals.user) { %>
        <ul class="menu">
          <li><%- user.displayName%></li>
          <li><a href="/logout">Logout</a></li>
        </ul>
      <% } else { %>
        <ul class="menu">
          <li><a onclick="lock.show()">Login</a></li>
        </ul>
      <% } %>
    </div>
  </div>
  <!-- End Top Bar -->
