<div id="files">
  <div id="filesUi">
    <% if(files.length === 0) { %>
      <p id="noFiles" class="">No files found.</p>
    <% } %>
    <ul id="filesGroup" class="medium-12 columns">
    <% files.forEach(function(file) { %>
      <li class=""><a href="/files/<%= file.id %>"><%= file.name %></a></li>
    <% }); %>
  </ul>
  </div>
  <hr>
  <form id="file-form">
    <div>
        <label for="folderName">File:</label>
        <input id='file-select' name='files' type='file' class="form-control" />
    </div>
    <div class="">
        <button id='upload-button' class="small button" type='submit'>Upload File</button>
    </div>
  </form>

</div>
