<link href="https://fonts.googleapis.com/css?family=Lato:300" rel="stylesheet">
<!-- Compiled and minified CSS -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/css/materialize.min.css">
<!-- Compiled and minified JavaScript -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/js/materialize.min.js"></script>

<body>
  <div class="wrapper">
    <a href="/send_to_sign" class="waves-effect waves-light btn lato-font blue">Try Request to Sign</a>
    <a class="waves-effect waves-light btn lato-font blue">Try Embedded Signing</a>
  </div>
</body>

<style>
  .lato-font{
    font-family: 'Lato', sans-serif;
  }
  .wrapper {
      text-align: center;
  }

  .btn {
      margin-top: 20%;
  }
</style>
