<!-- Import lato light font -->
<link href="https://fonts.googleapis.com/css?family=Lato:300" rel="stylesheet">

<body>
  <div class="lato-font wrapper">
    Check email specified in config for request to sign.
  <div>
</body>

<style>
  .lato-font{
    font-family: 'Lato', sans-serif;
  }
  .wrapper {
      text-align: center;
      margin-top: 20%;
  }

</style>
